body {
    font-family: sans-serif;
    background: #ECEFF1;
    color: rgba(0,0,0,0.87);
    margin:0;
    padding:0;        
    min-height: 100vh;        
    /*variables*/
    --grid-size: 50px;
    --player-size: 30px;  
    --player-margin: 10px;      
}    
*{
    box-sizing: border-box;
}      

#gridBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    flex: 1 1 100%;
}

.grid{
    display: inline-block;    
    position: relative;
}

.cell{
    border:1px solid rgba(0,0,0,0.87);
    height: var(--grid-size);
    width: var(--grid-size);
    display: flex;
}

.row{
    display: flex;
}

.player{
    position: absolute;
    z-index: 2;
    background: black;
    border-radius: 50%;
    height: var(--player-size);
    width: var(--player-size);
    margin: var(--player-margin);
    transition: transform 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.player-mask{
    position: fixed;
    z-index: 1;
    background: rgba(0,0,0,.5);
    border-radius: 50%;
    height: var(--player-size);
    width: var(--player-size);
    margin: var(--player-margin);
    top:0;
    left:0;
}